.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 70px auto 70px auto;
  
  &__anchor {
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }
  
  &--bg-contact {
    position: relative;
    padding: 70px 0 120px 0;
    &::after {
      content: '';
      position: absolute;
      background: url('../../img/banner/contact-form.png') no-repeat;
      background-size: cover;
      background-position: 20%;
      opacity: 0.15;
      height: 100%;
      width: 100vw;
      top: 0;
      left: -12%;
      z-index: -1;
    }
  }
}


// Media queries 
  // Medium view (min 760px)
@mixin section-wrapper\@screen-medium {
  .section-wrapper {
    margin: 140px auto 70px auto;
    &--menu-fixed {
      margin-top: 130px;
    }
    &--bg-contact {
      &::after {
        width: calc(100vw - 17px);
        left: unset;
      }
    }
  }
}
// Desktop view (min 1370px)
@mixin section-wrapper\@screen-desktop {
  .section-wrapper {
    &--bg-contact {
      &::after {
        background-attachment: fixed;
      }
    }
  }
}

/*
.section-wrapper {

margin: 70px auto 120px auto;


*/