// BASE COLORS
//// Red
$rose-fog-bright: #f9e8e8;
$rose-fog: #e6b5b5;
$new-york-pink: #d07c7c;
$new-york-pink-dark: #b75959;
//// Grey
$white: #ffffff;
$alto: #d3d3d3;
$chalice: #a0a0a0;
$grey: #848282;
$dove-grey: #696969;
$chicago: #5a5957;
$black: #000000;


// FUNCTION COLORS
//// Text
$color-text-primary: $chicago;
$color-text-secondary: $grey;
$color-menu: $dove-grey;
//// Buttons
$color-button: $new-york-pink;
$color-social: $grey;
$color-social-active: $rose-fog;
//// Form
$color-input-border: $new-york-pink;
$color-input-text: $color-text-secondary;