.footer {
  margin: 25px auto;
  &__arrow {
    margin-bottom: 20px;
    stroke: $grey;
    stroke-width: 8;
    cursor: pointer;
  //  animation: scale 1.2s infinite;
  //  transition: all 400ms ease-out;
  }
  &__logo {
    margin-bottom: 25px;
  }
  &__copyright {
    @include font($size: 12px, $weight: $light);
  }
}

// Media queries 
// Medium view (min 760px)
@mixin footer\@screen-medium {
  .footer {
    margin: 25px auto;
  }
}