.logo {
  $block: &;
  @include font($family: $dancing-script, $weight: $light);
  display: inline-block;
  text-align: center;
  line-height: .2;
  
  &--white {
    color: $white;
  }
  
  &--black {
    color: $black;
  }
  
  &--large {
    $font-size: 33;
    & > #{$block}__title {
      font-size: $font-size * 1px;
    }
    & > #{$block}__subtitle {
      font-size: calc((#{$font-size} * 0.7) * 1px);
    }
  }
  
  &__title {
    font-size: $font-size * 1px;
    font-weight: $light;
    margin: 0.67em 0;
  }
  
  &__subtitle {
    text-transform: lowercase;
    font-size: calc((#{$font-size} * 0.7) * 1px);
  }
}