.menu {
  $block: &;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  background-color: rgba(255,255,255,0.2);
  z-index: 2;
  transition: background-color 300ms linear;
  &--white {
    background-color: rgba(255,255,255,0.8);
    & #{$block}__button {
      color: $chicago;
      border-color: $chicago;
    }
  }
  
  &__bg {
    position: relative;
    width: 100%;
  }
  
  &__logo {
    position: absolute;
    padding: 20px;
    width: 100%;
    z-index: 2;
  }
  
  &__button {
    position: absolute;
    top: 0;
    right: 20px;
    height: 30px;
    width: 120px;
    padding-left: 20px;
    margin: 15px;
    border: 1px solid $white;
    background: none;
    cursor: pointer;
    @include font($family: $dancing-script, $size: 20px, $weight: $light, $color: $white);
    z-index: 3;
    &:hover {
      background-color: rgba(255,255,255,0.2);
      &::before {
        transform: translate(-2px, 2px) rotate(-90deg);
      }
    }
    &::before {
      content: "⇱";
      position: inherit;
      left: 5px;
      display: inline-block;
      transform: rotate(-90deg);
      transition: 150ms linear;
    }
    &--menuOpen {
      border-color: $chicago;
      color: $chicago;
      &:hover {
        background-color: rgba(0,0,0,0.1);
        &::before {
          transform: translate(2px, -2px) rotate(-270deg);
        }
      }
      &::before {
        content: "⇱";
        transform: rotate(-270deg);
      }
    }
  }
  
  &__items {
    position: absolute;
    width: 100%;
    top: 50px;  
    display: flex;
    justify-content: center;
    background-color: $white;
    @include font($size: 11px);
    text-transform: uppercase;
    text-align: center;
    transition: transform 100ms linear;
    
    &--hidable {
      top: 0;  
      right: 0;
      width: 60%;
      height: 100vh;
      flex-direction: column;
      font-size: 13px;
      transform: translate(100%);
      & #{$block}__link {
        padding: 30px;
      }
    }
    &--closed {
      
      transform: translate(100%);
    }
    
    &--open {
      transform: translate(0%);
    }
  }
  
  &__item {


  }
  &__link {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: $dove-grey;
    &:hover {
      background-color: $alto;
    }
  }
}