.menu {
  $block: &;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  background-color: rgba(255,255,255,0.2);
  z-index: 2;
  transition: background-color 300ms linear;
  &--white {
    background-color: rgba(255,255,255,0.8);
    & #{$block}__button {
      color: $chicago;
      border-color: $chicago;
    }
  }
  
  &__bg {
    position: relative;
    width: 100%;
  }
  
  &__logo {
    position: absolute;
    padding: 20px;
    width: 100%;
    z-index: 2;
  }
  
  &__button {
    position: absolute;
    top: 0;
    right: 20px;
    height: 30px;
    width: 120px;
    padding-left: 20px;
    margin: 15px;
    border: 1px solid $white;
    background: none;
    cursor: pointer;
    @include font($family: $dancing-script, $size: 20px, $weight: $light, $color: $white);
    z-index: 3;
    &:hover {
      background-color: rgba(255,255,255,0.2);
      &::before {
        transform: translate(-2px, 2px) rotate(-90deg);
      }
    }
    &::before {
      content: "⇱";
      position: inherit;
      left: 5px;
      display: inline-block;
      transform: rotate(-90deg);
      transition: 150ms linear;
    }
    &--menuOpen {
      border-color: $chicago;
      color: $chicago;
      &:hover {
        background-color: rgba(0,0,0,0.1);
        &::before {
          transform: translate(2px, -2px) rotate(-270deg);
        }
      }
      &::before {
        content: "⇱";
        transform: rotate(-270deg);
      }
    }
  }
  
  &__items {
    position: absolute;
    width: 100%;
    top: 50px;  
    display: flex;
    justify-content: center;
    background-color: $white;
    @include font($size: 11px);
    text-transform: uppercase;
    text-align: center;
    transition: transform 100ms linear;
    
    &--hidable {
      top: 0;  
      right: 0;
      width: 60%;
      height: 100vh;
      flex-direction: column;
      font-size: 13px;
      transform: translate(100%);
      & #{$block}__link {
        padding: 30px;
        &:hover, &:focus {
          background-color: $rose-fog-bright;
        }
      }
    }
    &--closed {
      transform: translate(100%);
    }
    
    &--open {
      transform: translate(0%);
    }
    &--hidable.menu__items--open {
        box-shadow: -4px 0px 47px -10px rgba(0,0,0,0.75);
    }
  }
  
  &__item {

  }
    
  &__link {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 5px 0;
    color: $dove-grey;
    &:hover, &:focus {
      border-bottom: 2px solid $new-york-pink;
    }
  }
}


// Media queries 
  // Landscape orientation
@mixin menu\@screen-landscape {
  .menu {
    $block: &;
    &__items {
      &--hidable {
        & #{$block}__link {
          padding: 7%;
        }
      }
    }
  }
}
  // Medium view (min 760px)
@mixin menu\@screen-medium {
  .menu {
    position: static;
    padding: 15px 50px;
    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
    }
    &__button {
      display: none;
    }
    &__logo {
      position: static;
      padding: 0;
      line-height: 30px;
    }
    &__items {
      position: static;
      justify-content: space-around;
    }
  }
}