.opinions {
  &__title {
    position: relative;
    margin-bottom: 70px;
    @include font($playfair, 25px);
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: calc(50% - 15px);
      width: 30px;
      height: 3px;
      background-color: $new-york-pink;
      
    }
  }
  &__carousel {
    width: 100%;
    text-align: center;
    @include font($size: 18px);
  }
  
  &__content {
    line-height: 25px;
  }
  
  &__author {
    margin-top: 25px;
    font-size: 14px;
    color: $chalice;
  }
}